.PDFViewer-container {
  flex: 1;
  align-items: center;
  height: 100vh;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 85vh;
  margin-top: 10px;
  /* align-items: center; */
}

.input-form {
  width: 90vw;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.form-step-title-container h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: #333;
}

.first-step-form-container {
  display: flex;
}

.first-column-input {
  width: 100%;
}

.second-column-input {
  width: 100%;
}

.third-column-input {
  width: 100%;
}

.second-step-form-container {
  display: flex;
}

.third-step-form-container {
  display: flex;
}

.forth-step-form-container {
  display: flex;
}

.form-element-container,
.form-element-container input {
  width: 100%;
  margin-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-left: 0.5rem;
}

.form-element-container input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 0.8rem;
  height: 30px;
}

.form-element-container input:focus {
  border-bottom: 3px solid #333;
}

.buttons-container {
  display: flex;
  margin-top: 5px;
}

.btnPreview {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border: none;
  margin-right: 25px;
  margin-left: 10px;
}

.btnPreview:hover {
  opacity: 0.8;
}

.btnSubmit {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  border: none;
  margin-left: 25px;
  margin-right: 10px;
}

.btnSubmit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px)  {
  .input-container {
    height: 100%;
    width: 100vw;
  }

  .input-form {
    width: 90vw;
  }

  .first-step-form-container {
    display: flex;
    flex-direction: column;
  }

  .second-step-form-container {
    display: flex;
    flex-direction: column;
  }

  .third-step-form-container {
    display: flex;
    flex-direction: column;
  }

  .forth-step-form-container {
    display: flex;
    flex-direction: column;
  }
}
