.holder{
    min-height: calc(100vh - 137px);
}

.student-page {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 1rem 2rem #00000033;
    padding: 20px;
    background-color: white;
}

.student-page h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.student-page input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: #eee;
    outline-width: 0;
    font-size: 0.8rem;
    height: 38px;
}

.student-page input:focus { 
    border-bottom: 3px solid #333;
}

.student-page .buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 15px;
}
